
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c5fa08;
  background: -webkit-linear-gradient(to right, #ffd900, #88ff00, #ff6767);
  background: linear-gradient(to right, #ffd900, #88ff00, #ff6767);
}
#container{
  display: grid;
  grid-template-rows: repeat(6, 100px) ;
  grid-template-columns: repeat(6, minmax(100px,1fr)) ;
}

.item-1{
  grid-row: 1 / 2 ;
  grid-column: 2 / 6 ;
  
}
.item-2{
  grid-row: 2 / auto ;
  grid-column: 1 / 4 ;
  
}
.item-3{
  grid-row: 2 / auto ;
  grid-column: 4 / 7 ;
  
}


.animal-sections {
  display: flex;
  flex-grow: 1; /* Grow to fill remaining space */
}

.visited-animals,
.fed-animals {
  flex: 1; /* Divide space equally */
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #f5f5f5;
}

.visited-animals:last-child {
  margin-right: 0;
}

h2 {
  margin-bottom: 10px;
}


/* Optional styles for animal cards (you can adjust these) */
.animal-card {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d6ff44;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.animal-card img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
}