body {
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #080710;
  background-image: url(./images/ZooBackground.jpg) ;
}
.search-wrapper {
  display: inline;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  font-size: 1rem;
}

.animals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(300px, 600px));
  grid-gap: 2.2rem;
  grid-auto-flow: dense;
  border: 2px solid rgb(241, 224, 151);
  padding: 14px 6px 10px;
  border-radius: 10px;
  transition: transform 100ms linear 0s;
}
.animal-card {
  border: 2px solid rgb(235, 208, 87);
  padding: 10px;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
}
img {
  border-radius: 10px;
  width: 100%;
  height: 70%;
}
.card .header {
  margin-bottom: 0.25rem;
}

.card.info {
  font-size: 0.8rem;
  color: #ffafaf;
}

.hide {
  display: none;
}
